<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pizza 330</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/order">Order</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {{#if customer}}
    <span class="navbar-text mr-2"> 
    <a href="/cart"><i class = "fas fa-shopping-cart"></i>
    <span id ="cartCount">Cart({{cartCount}})</span></a>
    </span> 
            <li class="nav-item">
                <span class = "navbar-text mr-2">Welcome back, {{customer.name}}!</span>
            </li>

             <li class="nav-item"><a class="btn btn-danger nav-link" href='/users/logout'>Logout</a></li>           
          
            {{else}}
            <li class="nav-item"><a class="nav-link" href='/users/login'>Login</a></li>
            <li class="nav-item"><a class="nav-link" href='/users/register'>Register</a></li>
            {{/if}}
        </ul>
    </div>
</nav>

{{#if customer}}

<h1>Pizzas</h1>

<table class="products">
    <div>
        <tr>
            <th>Name </th>
            <th>Description </th>
            <th>Category </th>
        </tr>
    </div>
    <div class="container">
    {{#each rows}}
   <input type="checkbox" class="checks" value="{{}}">{{}}

   {{/each}}
   <td><button type="button" onclick="addCart({{id}});return false;" >Add to Cart</a></td>
    </div>
   


    {{#each rows}}
    <tr>
        <td>{{name}}</td>
         <td>{{description}}</td>
             <td>{{category}}</td>
         <td><img src="{{image}}"></td>
         <td><button type="button" onclick="addCart({{id}})" >Add to Cart</a></td>
    </tr>
    {{/each}}
</table>


{{else}}
<div class="jumbotron jumbotron-fluid">
  <div class="container"></div>
  <h1>Pizza 330</h1>
<p> Welcom to the pizza 330!  </p>
</div>

<img src="/images/pizza.jpg" alt="pizza">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1> <strong>Hours and Contact:</strong> </h1>
                <p> Open Mon-Saturday from 11:AM - 2:00AM</p>
                <p> Contact us at: 513-123-1234</p>
                <p> 
            </div>

              <div class="col">
                <h1> <strong>Current Special</strong> </h1>
                <p> Hawaiian Pizza: $8:99</p>
                <p> Seafood Pizza: $11:99</p>
                <p> 
            </div>

            <div class="col">
                <h1><strong>About us: </strong> </h1>
                <p>Best local favor in the town.</p>
            </div>
        </div>
    </div>
      {{/if}}
